
 <% layout("/layouts/boilerplate") %>
 
<body data-bs-theme="light">
    <div id="filters">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-umbrella-beach"></i>        
        <p>Beachs</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-water"></i>        
        <p>Lakes</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Towers</p> 
      </div>
      <div class="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-person-swimming"></i>
      <p>pools</p>
  </div>
  <div class="filter">
    <i class="fa-brands fa-fort-awesome"></i>
    <p>Mountains</p>
</div>
<div class="filter">
  <i class="fa-solid fa-sailboat"></i>
  <p>Boats</p>
</div>
<div class="filter">
  <i class="fa-solid fa-person-skiing"></i>
  <p>Ski-in/out</p>
</div>
<div class="filter">
  <i class="fa-solid fa-kitchen-set"></i>
  <p>Chef's</p>
</div>
<div class="filter">
  <i class="fa-brands fa-galactic-republic"></i>
  <p>Arctics</p>
</div>
<div class="filter">
  <i class="fa-solid fa-tree"></i>
  <p>Trees</p>
</div>
<div class="filter">
  <i class="fa-solid fa-meteor"></i>
  <p>OMG!</p>
</div>
  </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for (let listing of allListings){ %>

          <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card listing-card" >
              <img class="card-img-top" src="<%= listing.image %>" alt="Card image cap" style="height: 20rem";>
              <div class="card-img-overlay"></div>
             
              <div class="card-body">
              <p class="card-text"> <b><%= listing.title %></b> <br>
              &#8377;<%=listing.price.toLocaleString("en-In")%>/night</p>
               </div>
            </div>
            <% } %>
  </div>      
</body>

